*{
    margin: 0;
    padding: 0;
}
#heading{
    display: block;
    justify-self: center;
    margin-left: 200px;
}

#heading h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
#heading p{
    width: 800px;
    text-align: center;
    font-size: 20px;
}
#heading button{
    margin-top: 20px;
    margin-left: 200px;
}